.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  height: 700px;
  margin: 0 auto;
  /* background-color: #282c34; */
}

.main {
  display: flex;
  /* background-color: aqua; */
  justify-content: space-between;
  top: 100px;
  width: 80%;
  height: 80%;
}

.infoSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  /* background-color: red; */
}

.formSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  /* background-color: blue; */
}