.homeContainer {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;

}

.newsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 550px;
  overflow-y: auto;
  /* background-color: red; */
}

.rankingContainer {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 550px;
}

.tableSide {
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: start;
  width: 50%;
  margin: 0 auto;
  height: 710px;
}

.powerRanking {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  height: 650px;
}

.comunityRanking {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  height: 650px;
}

.oldernewsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  height: 550px;
}